
/*----------------------------------------------Navigation bar-------------------------------------------------*/
.navbar
{
	display: block;
}

#nav.affix 
{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3999;
  background: #1d1d1d;
  border-radius: 0; 
}

#navbar
{
	float: right;
  list-style: none;
  margin-top: 5px;
  margin-right: 35px;
}

#navbar a
{
	display: block;
  margin-left: 25px;
}

#navbar a:hover
{
  color: #0a9174;
	border-bottom: 2px solid #0a9174;
}

#navbar a:active, #active
{
  color: #0a9174;
}


.navbar-light .navbar-nav .nav-link
{
	font-family: 'Lato', sans-serif;
  font-size: 15px;
  list-style: none;
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

#navbar a:visited
{
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  list-style: none;
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

/*----------------------------------------------Text Home Page-----------------------------------------------*/

#name
{
  height: 100px;
  width: 500px;
  margin-top: 240px;
  margin-left: 300px;
  font-family: 'Lato', cursive;
  float: center;
  color: #f2f2f2;
  font-weight: 500;
  font-size: 20px;
  line-height: 2;
}
h1
{
  font-size: 40px;
  font-family: 'Lato', sans-serif; 
  text-transform: uppercase;
}


/*----------------------------------------Background Image Home Page-----------------------------------------*/
#background
{
	/*background-image: url("../images/bg06.jpg");*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/bg06.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 625px;
    width: 1350px;
    background-repeat: no-repeat;
    margin-top: 0px;
    opacity: 0.7;
}


/*----------------------------------------About Section-----------------------------------------*/


.profile-pic 
{
    width: 30%;
    height: 80px;
    border-radius: 50%;
}

/*----------------------------------------Side Bar-----------------------------------------*/
.sidebar 
{
	position: fixed;
  	left: 0px;
  	top: 0px;
  	bottom: 0px;
  	width: 120px;
  	text-align: center;
  	-webkit-transform: translateX(-100%);
          	transform: translateX(-100%);
  	-webkit-transition: 0.2s;
  	transition: 0.2s; 
}

.sidebar ul 
{
    list-style: none;
    padding: 0px; 
}

.sidebar li 
{
    margin-top: 35px;
    margin-bottom: 35px; 
}
 
.sidebar a 
{
    text-decoration: none;
    font-size: 18px;
    color: #ededed;
    font-weight: 400; 
}
    
.sidebar a:hover 
{
    color: rgba(67, 144, 168, 0.9);
}

.sidebar.fixed 
{
  	-webkit-transform: translateX(0);
          	transform: translateX(0); 
}



