
@import url(https://fonts.googleapis.com/css?family=Dosis:600,200|Great+Vibes);
*, *:after, *:before 
{
  box-sizing: border-box;
}

* 
{
  position: relative;
}
.clearfix 
{
  overflow: auto;
  zoom : 1;
}
.clearfix::after 
{
  content: ".";
  clear: both;
  display: block;
  font-size: 0;
  content: " ";
  height: 0;
}

html
{
  font-family: 'Lato', sans-serif;
}

/*----------------------------------------------Navigation bar-------------------------------------------------*/
.navbar
{
	display: block;
}

#nav.affix 
{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3999;
  background: #1d1d1d;
  border-radius: 0; 
}

#navbar
{
	float: right;
  list-style: none;
  margin-top: 5px;
  margin-right: 35px;
}

#navbar a
{
	display: block;
  margin-left: 25px;
}

#navbar a:hover
{
  color: #0a9174;
	border-bottom: 2px solid #0a9174;
}

#navbar a:active, #active
{
  color: #0a9174;
}

.navbar-light .navbar-nav .nav-link
{
	font-size: 15px;
  list-style: none;
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

#navbar a:visited
{
  font-size: 15px;
  list-style: none;
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

/*------------------------------------------------Home Page-------------------------------------------------*/

#name
{
  height: 100px;
  width: 500px;
  margin-top: 240px;
  margin-left: 300px;
  float: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 2;
}
h1
{
  font-size: 40px;
  text-transform: uppercase;
}

.main
{
  height: 22rem;
 /* width: 1350px;*/
}

/*----------------------------------------Background Image Home Page-----------------------------------------*/
#background
{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/bg06.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
 /* width: 1350px;*/
  background-repeat: no-repeat;
  margin-top: 0px;
  opacity: 0.8;
}

/*-----------------------------------------Common in all Sections--------------------------------------------*/

.section-div1
{
  background-color: white;
  opacity: 0.9;
  margin-left: 125px;
  float: center;
  width: 1100px;
  margin-top: 50px;
}

.section-heading1
{
  color: #000000;
  border-bottom: 2.5px solid #0a9174;
  float: center;
  margin-left: 490px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 8px;
  text-transform: uppercase;
  text-decoration: none;
}

.section-div2
{
  background-color: #0a9174;
  opacity: 0.9;
  margin-left: 125px;
  float: center;
  width: 1100px;
  margin-top: 30px;

}

.section-heading2
{
  color: #ffffff;
  border-bottom: 2.5px solid #0a9174;
  float: center;
  margin-left: 490px;
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 8px;
  text-transform: uppercase;
  text-decoration: none;
}

.section-div3
{
  background-color: #000000;
  opacity: 0.9;
  margin-left: 125px;
  float: center;
  width: 1100px;
  margin-top: 40px;
}

/*----------------------------------------About Section-----------------------------------------*/

.profile-pic 
{
  background-color: white;
  width: 220px;
  height: 220px;
  margin: 50px;
  border-radius: 50%;
  border-width: 2.5px;
  border-style: solid;
  border-color: #88ddc1;
  z-index:1;
  top:0;
}


/*----------------------------------------Education Section-----------------------------------------*/

#edu-content 
{
  background: #0a9174;
  height: 520px;
  box-shadow: 0 0 6px rgba(0,0,0,.6);
}

article 
{
  position: absolute;
  overflow: auto;
  transition: .7s;
  transform: scale(0);
  transform-origin: center;
  transition-delay: .2s;
  margin-bottom: 20px;
}
article:before 
{
  color: rgba(0,0,0,.3);
  font-size: 20px;
  font-weight: 100;
  position: absolute;
}

#edu-content p
{
  line-height: 1.5;
  font-size: 1.1rem;
/*  color: white;*/
}

#edu-content .content-header p
{
  font-weight: bold;
  color: #fff;
}

#edu-content .content-header
{
  margin-bottom: 10px;
  width: 100% !important;
  background-color: #008060;
  padding: 0.7em 0em 0.1em 2em;

}

#edu-content .content1-body
{
  margin: 0;
}

#edu-content nav 
{
  background: #fff;
  width: 100%;
  height: 64px;
  box-shadow: 0 0 6px rgba(0,0,0,.4);
}
#edu-content nav:after 
{
  content:'';
  width: 33.33%;
  height: 64px;
  background: #BEE3D1;
  position: absolute;
  transition: .5s;
}
#edu-content input 
{
  display: none;
}
#edu-content label 
{
  width: 33.33%;
  float: left;
  color: #BEE3D1;
  text-align: center;
  cursor: pointer;
  transition: .5s;
  z-index: 2;
}
#edu-content label:hover {color: #1E6743;}
#edu-content label:before {
  display: block;
  font-size: 45px;
  line-height: 65px;
  z-index: 2;
}
#edu1:checked ~ nav [for='edu1'],
#edu2:checked ~ nav [for='edu2'],
#edu3:checked ~ nav [for='edu3'] 
{
  color: #1E6743;
  font-weight: 400;
}


#edu1:checked ~ nav:after {
  left: 0;
}
#edu2:checked ~ nav:after {
  left:33.5%;
  border-top: 0 none;
}
#edu3:checked ~ nav:after {
  left: 66.7%;
}


#edu1:checked ~ .content1,
#edu2:checked ~ .content2,
#edu3:checked ~ .content3 
{
  display: block;
  transform: scale(1);
  transition-delay: .5s; 
}
#edu-content a {color: rgba(0,0,0,.4)}
#edu-content a:hover {color: rgba(0,0,0,.2)}

.content1
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 73vh; 
  background: linear-gradient(0deg, #00664d 1%, #ecf9f2);
  border:0;
}

.content1-body
{
  max-width: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.5s;
}

.content1 .card
{
  margin-top: 5em;
  margin-left: 7em;
  position: relative;
  width: 270px;
  height: 170px;
  background: #ecf9f2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 5%;
}

.content1:hover .card
{
  filter: blur(5px);
  transform: scale(0.7);
}

.content1 .card:hover
{
  filter: blur(0px);
  transform: scale(1);
  border-radius: 5%;
}

.content1 .card:before
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ecf9f2;
  z-index: 1;
  transition: 0.5s;
  border-radius: 5%;
}

.content1 .card:hover:before
{
  background: #008060;
  transform: scaleY(1.15);
  box-shadow: 15px 20px 20px rgba(159, 223, 190, 0.6);
  border-radius: 5%;
}

.content1 .card .content
{
  margin-top: 0.8em;
  text-align: center;
  z-index: 2;
  padding: 0 20px;
  transition: 0.5s;
  color: #00664d;
}

.content1 .card:hover .content
{
  color: #ecf9f2;
}


.content1 .card .content h2
{
  font-size: 1.1em;
}

.content1 .card .content p
{
  font-size: 0.6em;
}

.content1 .card .content a
{
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0 15px;
  color: #ecf9f2;
  text-decoration: none;
  border-radius: 5%;
}

.content1 .card:hover .content a
{
  background:#ecf9f2;
  border-radius: 5%;
  color: #00664d;
  font-weight: bold;
}


.content1
{
  width: 100%;
  height: 250px;
}

/*----------------------------------------Skills Section-----------------------------------------*/

.panel-body .skill1
{
  margin-left: 350px;
}
.skills
{
  float: center;
  padding: 3px 12px 3px 12px;
  margin-left: 30px;
  background-color: #0a9174;
  color: #ffffff;
}

/*----------------------------------------Side Bar-----------------------------------------*/
.sidebar 
{
	position: fixed;
  	left: 0px;
  	top: 0px;
  	bottom: 0px;
  	width: 120px;
  	text-align: center;
  	-webkit-transform: translateX(-100%);
          	transform: translateX(-100%);
  	-webkit-transition: 0.2s;
  	transition: 0.2s; 
}

.sidebar ul 
{
    list-style: none;
    padding: 0px; 
}

.sidebar li 
{
    margin-top: 35px;
    margin-bottom: 35px; 
}
 
.sidebar a 
{
    text-decoration: none;
    font-size: 18px;
    color: #ededed;
    font-weight: 400; 
}
    
.sidebar a:hover 
{
    color: rgba(67, 144, 168, 0.9);
}

.sidebar.fixed 
{
  	-webkit-transform: translateX(0);
          	transform: translateX(0); 
}



