*
{

}

.clearfix 
{
  overflow: auto;
  zoom : 1;
}


.clearfix::after 
{
  content: ".";
  clear: both;
  display: block;
  font-size: 0;
  content: " ";
  height: 0;
}


/*----------------------------------------------Navigation bar-------------------------------------------------*/
.navbar
{
	display: block;
}

#nav.affix 
{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3999;
  background: #1d1d1d;
  border-radius: 0; 
}

#navbar
{
	float: right;
  list-style: none;
  margin-top: 5px;
  margin-right: 35px;
}

#navbar a
{
	display: block;
  margin-left: 25px;
}

#navbar a:hover
{
  color: #0a9174;
	border-bottom: 2px solid #0a9174;
}

#navbar a:active, #active
{
  color: #0a9174;
}


.navbar-light .navbar-nav .nav-link
{
	font-family: 'Lato', sans-serif;
  font-size: 15px;
  list-style: none;
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

#navbar a:visited
{
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  list-style: none;
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

/*------------------------------------------------Home Page-------------------------------------------------*/

#name
{
  height: 100px;
  width: 500px;
  margin-top: 240px;
  margin-left: 300px;
  font-family: 'Lato', cursive;
  float: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 2;
}
h1
{
  font-size: 40px;
  font-family: 'Lato', sans-serif; 
  text-transform: uppercase;
}

.main
{
  height: 380px;
 /* width: 1350px;*/
}


/*----------------------------------------Background Image Home Page-----------------------------------------*/
#background
{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/bg06.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
 /* width: 1350px;*/
  background-repeat: no-repeat;
  margin-top: 0px;
  opacity: 0.8;
}


/*----------------------------------------Common in all Sections-----------------------------------------*/

.section-heading
{
  color: #000000;
  border-bottom: 2.5px solid #0a9174;
  float: center;
  margin-left: 490px;
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 8px;
  text-transform: uppercase;
  text-decoration: none;
}

.section-div
{
  background-color: white;
  opacity: 0.8;
  margin-left: 125px;
  float: center;
  width: 1100px;
}

/*----------------------------------------About Section-----------------------------------------*/

.profile-pic 
{
  background-color: white;
  width: 220px;
  height: 220px;
  margin: 50px;
  border-radius: 50%;
  border-width: 2.5px;
  border-style: solid;
  border-color: #88ddc1;
  z-index:1;
  top:0;
}

/*----------------------------------------Side Bar-----------------------------------------*/
.sidebar 
{
	position: fixed;
  	left: 0px;
  	top: 0px;
  	bottom: 0px;
  	width: 120px;
  	text-align: center;
  	-webkit-transform: translateX(-100%);
          	transform: translateX(-100%);
  	-webkit-transition: 0.2s;
  	transition: 0.2s; 
}

.sidebar ul 
{
    list-style: none;
    padding: 0px; 
}

.sidebar li 
{
    margin-top: 35px;
    margin-bottom: 35px; 
}
 
.sidebar a 
{
    text-decoration: none;
    font-size: 18px;
    color: #ededed;
    font-weight: 400; 
}
    
.sidebar a:hover 
{
    color: rgba(67, 144, 168, 0.9);
}

.sidebar.fixed 
{
  	-webkit-transform: translateX(0);
          	transform: translateX(0); 
}



